{% extends "tpl.html" %}

{% block main %}
			<h2>Aosuke GPS System</h2>
			<p>Aosuke vous propose son appareil de survie dernier cri, le GPS 
			System. Celui-ci vous permettra de mieux organiser la vie de votre 
			ville, de consulter la fiche personnel d'un camarade ou bien même 
			de connaitre l'état des autres villes si vous envisagez de 
			déménager&nbsp;!
			<br><br>
			Aosuke n'est aucunement lié à la concurrence. Vous noterez son 
			affichage tri-cobaltique de qualité supérieur, ses informations 
			respectant la vie privée et son absence d'affiliation à 
			l'<em>Obviously Evil Lab</em>, ou encore à la <i>Motion Twin</i>. 
			</p>


{% endblock main %}

