{% extends "tpl.html" %}

{% block main %}
			<h2>{{city.name}}</h2>
			<map>
				{% for row in map %}
                {%if loop.first%}
                    <r><h></h>{%for c in row%}
                        <h>{{loop.index0 - city.x}}</h>
                    {%endfor%}</r>
                {%endif%}
				<r><h>{{loop.index0 - city.y}}</h>
                    {%for c in row%}
                        <{% if c.z == "-1" -%}e{%-
                        elif c.city -%}c{%-
                        elif c.building -%}x{%-
                        else-%}v{%-endif%} 
                            data-items="{{c.items|json}}"></{%
                        if c.z == "-1" -%}e{%-
                        elif c.city -%}c{%-
                        elif c.building -%}x{%-
                        else-%}v{%-endif%}>
                    {%endfor%}</r>
				{%endfor%}
			</map>


{% endblock main %}

