{% extends "tpl.html" %}

{% block head %}
{% endblock %}

{% block main %}
			<h2>{{city.name}}</h2>
			<map>
				{% for row in map %}
                {%if loop.first%}
                    <r><h></h>{%for c in row%}
                        <h>{{loop.index0 - city.x}}</h>
                    {%endfor%}</r>
                {%endif%}
				<r><h>{{city.y - loop.index0}}</h>
                    {%for c in row%}
                        <{% if c.z == "-1" -%}e{%-
                        elif c.city -%}c{%-
                        elif c.building -%}x{%-
                        else-%}v{%-endif-%} 
                        {%if c.items%} 
                        data-items="{{c.items|json(0)}}"{%-endif%}></{%
                        if c.z == "-1" -%}e{%-
                        elif c.city -%}c{%-
                        elif c.building -%}x{%-
                        else-%}v{%-endif%}>
                    {%endfor%}</r>
				{%endfor%}
			</map>
            {%for cat,items in comp%}
                <h3>{{cat}}</h3>
                <ul>{%for item in items%}
                    <li>{{item.count}}× {{item.name}}
                    {%if item.broken%}<em>Cassé</em>{%endif%}
                    [{{item.x}}/{{item.y}}]
                    </li>
                {%endfor%}</ul>
            {%endfor%}


{% endblock main %}

