{% extends "tpl.html" %}

{% block head %}
    <script src="/js/prototype.js"></script>
    <script src="/js/map.js"></script>
{% endblock %}

{% block main %}
			<h2>{{city.name}}</h2>
			<map id="map">
				{% for row in map %}
                {%if loop.first%}
                    <tr><h></h>{%for c in row%}
                        <h>{{loop.index0 - city.x}}</h>
                    {%endfor%}</tr>
                {%endif%}
				<r><h>{{city.y - loop.index0}}</h>
                    {%for c in row -%}
                        {{c|cell}}
                    {% endfor%}<h>{{city.y - loop.index0}}</h></r>
                {%if loop.last%}
                    <tr><h></h>{%for c in row%}
                        <h>{{loop.index0 - city.x}}</h>
                    {%endfor%}</tr>
                {%endif%}
				{%endfor%}
			</map>
            {%for cat,items in comp%}
                <h3>{{cat}}</h3>
                <ul>{%for item in items%}
                    {% if item.x != city.x or item.y != city.y %}
                    <li>{{item.count}}× {{item.name}}
                    {%if item.broken%}<em>Cassé</em>{%endif%}
                    [{{item.x-city.x}}/{{city.y-item.y}}]
                    </li>
                    {% endif %}
                {%endfor%}</ul>
            {%endfor%}


{% endblock main %}

