<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{%block title%}Aosuke GPS System{%endblock%}
		{%block post_title%}{%endblock%}</title>
	<link rel="StyleSheet" href="/css/aosuke.css"/>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
	<header>
		<aside class="left">
			<img src="/img/battery_charging.gif" />
			<span>{{me.name}}</span>
		</aside>
		<aside class="right">
			<span>{{now|date("H:i")}}</span>
			<img src="/img/network_3.gif" />
		</aside>
		<a href="/" id="bann">
			<img src="/img/bann.gif" alt="Bannière"/>
		</a>
	</header>

	<div id="main">
		<aside id="menu">
			<a class="{{select.map}}" href="/map"><img src="/img/map.gif" /></a>
			<a class="{{select.ppl}}" href="/people"><img src="/img/ppl.gif" /></a>
			<a class="{{select.wld}}" href="/world"><img src="/img/world.gif" /></a>
		</aside>
		<section>{%if error%}
		<p class="error">{{error}}</p>
		{%endif error%}{%block main%}
			<h2>Work In Progress</h2>
			<p>Aosuke GPS System est actuellement distribué en tant que version de démonstration. Certaines fonctionnalité n'ont pas encore atteint un niveau de maturité suffisent pour etre distribué au publique.</p>
			<ul>
				<li>Je suis une première ligne</li>
				<li>Je suis une seconde ligne</li>
				<li>Je suis une ligne impair</li>
				<li>Je suis une ligne pair</li>
			</ul>
			<table>
				<tr><th>name</th><th>Defense</th></tr>
				<tr><td>leedo</td><td>0 Def</td></tr>
				<tr><td>deeldo</td><td>3 Def</td></tr>
				<tr><td>gkr</td><td>1 Def</td></tr>
			</table>
		{%endblock%}</section>
	</div>
</body>
</html>
