map{
	display: table;
	font-size: 8px; text-align: center;
	border-collapse: collapse;
}
r{ // row
	display: table-row;
}
e, v, t, x, c, h{
	display: table-cell;
	width: 16px; height: 16px;
	border: 1px solid $light;
    /*&:hover::after*/
    .tooltip{
        position: absolute;
        margin-top: 20px; margin-left: 20px; padding: 2px 10px;
        //content: attr(data-items);
        background: $dark;
        border: 1px solid $light;
        font-size: 12px;
        white-space: pre-wrap;
    }
}
h{ // 
	border: none;
}
e{ // empty
	background-color: $darker;
	background-image: url("/img/bg_unknown.gif");
}
v{ // visited
	background-color: $darker;
	background-image: url("/img/bg_visited.gif");
}
t{ //
	background-color: $dark;
}
x{ // 
	background-color: $darker;
}
c{ // city
	background-color: $lighter;
}

