@import "pixel";
@import "color";
@import "map";
@import "form";

body{
	background-color: $darker;
	border-color: $light;
	color: $lighter;
	font-size: 16px; line-height: 16px;
	font-family: pixel, monospace;
	margin: 0px;
}

a img{
	border: 0px;
}
.left{ float: left; }
.right{float: right;}

header{
	border-bottom: 1px solid $light;
	aside{
		font-size: 16px;
		img{
			padding: 12px 8px;
		}
		span{
			display: inline-block;
			vertical-align: top;
			line-height: 48px;
		}
	}
	#bann{
		width: 240px; height: 48px;
		margin: auto;
		display: block;
	}
}
#main{
	border-bottom: 1px solid $light;
	margin: 0px; 
	aside#menu{
		width: 50px;
		margin: 0px;
		a{
			position: relative;
			-webkit-transition: border-color ease 0ms;
			float: left;
			margin: 5px 0px 2px 5px; padding: 6px;
			line-height: 11px;
			outline: 1px solid $light;
			border: 1px solid $dark; 
			background-color: $dark;
			&:hover {
				-webkit-transition: border-color ease 600ms;
				border-color: $neon;
			}
			&.select {
				border-color: $neon;
				background-color: $light;
			}
			&::after{
				position: absolute;
					left: 100%;
				height: 32px; width: auto; line-height: 32px; max-width: 0px;
				padding-left: 0px;
				content: attr(data-title);
				background: $darker; color: $lighter;
				border: 1px solid $dark; border-left: none;
				box-shadow: 0px 1px 0 $light, 1px 0 0 $light, 0px -1px 0 $light;
				overflow: hidden; text-overflow: clip; white-space: nowrap;
                z-index: 900;
			}
            &.select::after{
                border-color: $neon;
            }
			&:hover::after, &:active::after{
				max-width: 150px; padding: 0 8px;
				border-color: $neon;
				transition: max-width ease-out 800ms, padding ease 200ms;
			}
		}
	}
	section{
		min-height: 87px;
		margin-left: 56px; padding: 1px 5px 10px 5px;
		border-left: 1px solid $light;
		background-color: $dark;
        h1, h2, h3, h4, h5, h6{
			border-bottom: 1px dashed $light;
			background-color: $darker;
        }
		h2 {
			margin: 10px 0px 5px; padding: 0px 10px 7px 10px;
			font-size: 32px; line-height: 32px;
		}
		h3 {
			margin: 10px 0px 5px; padding: 0px 10px 4px 10px;
			font-size: 24px; line-height: 24px;
        }
        h4 {
			font-size: 16px; line-height: 16px;
        }
		p, pre, form {
			padding: 3px 7px;
			border: 1px solid $light;
			background-color: $darker;
			text-align: justify;
			&.error{
				&.error:before{
					content: "Erreur: "
				}
				margin: 5px 0px; padding: 7px 20px;
				display: inline-block;
				border: 3px dashed $neon;
			}
		}
        pre{
            font-size: 8px;
            font-family: pixel, monospace;
        }
		form{
			padding: 15px 7px;
		}
		ul {
            margin: 0px 0px 5px;
			list-style: none; padding: 0px;
			border-left: 1px solid $light;
			border-bottom: 1px solid $light;
			li {
				padding: 3px 7px;
				&:nth-child(2n){
					background-color: $dark;
				}
				&:nth-child(2n+1){
					background-color: $darker;
				}
			}
		}
		table {
			border-top: 1px solid $light;
			border-left: 1px solid $light;
			border-collapse: collapse;
			tr {
				&:nth-child(2n){
					background-color: $dark;
				}
				&:nth-child(2n+1){
					background-color: $darker;
				}
			}
			td {
				padding: 3px 7px;
				border-right: 1px solid $light;
				border-bottom: 1px solid $light;
			}
			th {
				padding: 3px 7px;
				background-color: $lighter; color: $darker;
				border-right: 1px solid $light;
			}
		}
		hr{
			border: 1px solid $lighter;
		}
	}
}
